#version=Centos7
# Set the authentication options for the system
auth --passalgo=sha512 --useshadow

# Install OS instead of upgrade
install

# License agreement
eula --agreed

# Use network installation
url --url="https://mirror.yandex.ru/centos/7/os/x86_64/"

# Use text mode install
graphical

# Run the Setup Agent on first boot
firstboot --disable
ignoredisk --only-use=sda

# Keyboard layout
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8 --addsupport=ru_RU.UTF-8

# System timezone
timezone Europe/Moscow --isUtc --nontp

# Root password
rootpw --plaintext rootpass

# rootpw --iscrypted dd8d1f39e269eceb3afb74ba41cf76d6e24bdbe714c11dfedd891fdd3ab68917d8610d28755de67caf5f20bb218b79d4eb0bb58853940d414247209b3b76aa86

# Add a user
user --groups=testuser,wheel --name=testuser --password=testpass

# cannot login while using crypted pass
# user --groups=testuser,wheel --name=testuser --iscrypted --password=78ddc8555bb1677ff5af75ba5fc02cb30bb592b0610277ae15055e189b77fe3fda496e5027a3d99ec85d54941adee1cc174b50438fdc21d82d0a79f85b58cf44

# SELinux configuration
selinux --enforcing

# Network information
network --bootproto=dhcp --device=link --activate
network --hostname=centos7.localdomain
unsupported_hardware

# Firewall configuration
firewall --disabled --service=ssh

# System services
services --enabled=NetworkManager,sshd,chronyd

# Do not configure the X Window System
# skipx

# System bootloader configuration
bootloader --append="crashkernel=auto" --location=mbr

# Clear the Master Boot Record
zerombr

# Remove partitions
clearpart --all --initlabel

# Automatically create partitions using LVM
autopart --type=lvm

# Reboot after successful installation
reboot

%packages --ignoremissing
# yum group info core
@core
# yum group info base
@base
# yum group info "Development Tools"
@Development Tools
# Don't install unnecessary firmwares and services
openssh-server
openssh-clients
open-vm-tools
%end

%post --nochroot --logfile=/mnt/sysimage/root/ks-post.log

# Disable quiet boot and splash screen
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/etc/default/grub
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/boot/grub2/grub.cfg

# sudo
echo "testuser ALL=(ALL) NOPASSWD: ALL" >> /mnt/sysimage/etc/sudoers.d/testuser
%end